
### IntelliJ
.idea/
*.iml

### Zoo: Project

emf-cobol/
emf-graph/
emf-java/
emf-types/
neoemf-widespread/
emf-gremilin/
emf-smm/
emf-widespread/
emf-iotmodel/
emf-trace/
neoemf-java/


### Zoo: Addons

plugins/eclipse


.keystore
