<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smm -->
      <package
            uri="http://www.atlanmod.org/zoo/smm"
            class="org.omg.smm.SmmPackage"
            genModel="src/main/model/smm.xcore"/>
   </extension>

</plugin>
